html, body {
height: 100%;
width: 100%;

}
.main-box {
	width: 100%;
	height:100%;
	background-color: #22B573;
	border: solid 5px;
	border-color: #006837;
}
.clear {
	clear: both;
}
.menu nav ul li a{
	color: white;
	float: left;
	margin: 20px;
	font-size: 50px;
	text-decoration: none;
	text-transform: uppercase;
	animation: rot 3s;
}
.box1 {
	width: 560px;
	height: 400px;
	background-color: white;
	position: absolute;
	left: -6px;
    bottom: -10px
}
/*Hover on white box*/
.box1:hover .box2{
	background-color: yellow;

}
.box1:hover .css-text{
	color: red;
	transform:translate(-50%,-50%);
}
.box1:hover .read {
	color: red;
}
/*Hover on white box*/
/*key frame start*/
@keyframes rot {
	25% {font-size: 5px;}
	50% {font-size: 10px;}
	75% {font-size: 15px;}
	100% {}
} 
@keyframes mymove {
    0%   {bottom: 0px; right: 0px; color: red;}
    25%  {bottom: 0px; right: 100px; color: blue;}
    50%  {bottom: 100px; right: 100px; color: yellow;}
    75%  {bottom: 100px; right: 0px; color: white;}
    85%  {bottom: 100px; right: -200px; color: purple;}
    100% {bottom: 0px; right: -0px; color: red;}
}
/*key frame end*/
.box2 {
	width: 250px;
	height: 200px;
	background-color: #006837;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	transition: 2s;
}
.css-text{
	z-index: 20;
	color: yellow;
	text-transform: uppercase;
	position: absolute;
	font-size: 40px;
	top: 50%;
	left: 50%;
	white-space: nowrap;
	transform:translate(-50%,-50%) rotate(35deg);
	transition: color 2s, transform 2s;
}
.read{
	color: green;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	bottom: 5px;
	right: 5px;
	transition: color 2s;
}
.footer1 {
	color: yellow;
	position: absolute;
	text-transform: uppercase;
	bottom: 5px;
	right: 5px;
	animation: mymove 3s infinite;
}